accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
git+https://github.com/yeoedward/peft.git@adaption_prompt
git+https://github.com/huggingface/transformers.git
sentencepiece
gradio
sentencepiece
